.page {
  margin: 0 auto;
  max-width: 390px;
  font-family: 'Inter', 'Arial', sans-serif;
}
.main {
    max-width: 390px;
    min-width: 320px;
    margin: 0 auto;
    background-color: white;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter__icon {
    outline: none;
    border: none;
    width: 28px;
    height: 28px;
    background-image: url(./images/sandwich.svg);
    background-color: white;
    background-size: cover;
    margin: 10px 10px 0 0;
}

.filter__icon:hover {
    opacity: 0.5;
}

.search-bar {
    width: 94%;
    margin: 0 16px;
}

.search-bar__title {
    margin: 16px 0;
}

.search-bar__form {
    position: relative;
    max-width: 343px;
    margin: 0 0 16px;
    padding: 0;
}

.search-bar__loop {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 22px;
    height: 24px;
    opacity: 0.3;
}

.search-bar__input {
    position: relative;
    width: 96.5%;
    height: 36px;
    margin: 0;
    border: none;
    background-color: rgb(233, 237, 242);
    padding: 0 0 0 27px;
    border-radius: 10px;
}

@media all and (max-width: 375px) {
    .search-bar__input {
        width: 91.5%;
    }
}

.search-bar__input::placeholder {
   font-size: 17px;
   line-height: 22px;
   letter-spacing: -0.41px;
   color:rgb(137, 143, 151);
}

.search-bar__button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
}

.requests {
    width: 100%;
    background-color: rgb(233, 237, 242);
    padding-top: 16px;
    padding-bottom: 85px;
    border-top: rgba(0,0,0, 0.1) solid 0.5px;
}

.request-item {
    max-width: 91.5%;
    margin: 0 auto 8px;
    min-height: 244px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



.request-item__link {
    text-decoration: none;
    color: black;
}

.request-item__photo {
    display: grid;
    grid-template-columns: minmax(211px, max-content) minmax(auto, max-content);
    grid-template-rows: repeat(3, minmax(auto, max-content));
    align-items: center;
    margin: 0 0 16px 0;
}

.request-item__scale {
    max-width: 390px;
    margin: 0 auto;
}

.request-item__image {
    border-radius: 10px;
    margin: 0 16px 0 0;
    font-style: 'Inter';
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.request-item__text {
    position: relative;
    height: 2.4rem;
    margin: 12px 16px 0;
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.32px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.request-item__text::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 95%);
}

.request-item__title {
    font-family: Inter;
    margin: 24px 0 0 16px;
    font-size: 24px;
    letter-spacing: 0.29px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.request-item__nursery {
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: Inter;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 32px;
    margin: 6px 0 0;
    text-align: left;
    color: rgb(137, 143, 151);
    background-color: white;
    border: none;
    
}

.request-item__nursery:hover {
    opacity: 0.7;
}

.request-item__nursery-image {
    margin-left: 16px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.my-progress {
    width: 91.5%;
    margin: 0 4.25%;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
  }
  
  .my-bar {
    width: 30%;
    height: 6px;
    background-image: linear-gradient(to right, rgb(152,237,243),rgb(53,156,255));
    border-radius: 3px;
  }

.request-item__nominal {
    max-width: 91.5%;
    margin: 8px auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content, max-content));
    grid-template-rows: auto;
    row-gap: 0px;
    justify-content: space-between;
}

.request-item__money{
    margin: 0;
    font-weight: 500;
    font-family: Inter;
    font-size: 24px;
    letter-spacing: -0.4px;
}

.request-item__money_blue {
    color: rgb(53, 156, 255);
}

.request-item__span {
    display: block;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
    color: rgb(137, 143, 151);
}

.request-item__span_right {
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 390px;
    height: 84px;
    margin: 0 auto;
  }

  .navbar__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 124px;
    height: 44px;
    margin-top: 8px;
  }
  
  .navbar__link:hover {
      background: rgba(255, 255, 255, 0.8);
      opacity: 0.5;
  }
 
.navbar__image {
      width: 21px;
      height: 24px;
      margin: 0 auto;
      object-fit: contain;
}

  .navbar__caption {
      font-size: 10px;
      font-family: Inter;
      font-weight: normal;
      letter-spacing: -0.24px;
      text-align: center;
      color: rgb(137, 143, 151);
      margin: 4px 0 4px 0;
  }